body {
  font-family: 'Poppins', sans-serif;
  background-color: #0B88EF;
}

/* Navbar */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 128px 16px;
  border-bottom: #fff solid 1px;
}

.date {
  color: #DEDEDE;
  font-size: 1.2rem;
  opacity: 55%;
}

.name {
  font-size: 1.2rem;
}

/* End Navbar */


.content {
  padding: 20px 80px;
  margin-top: 150px;
}

.text-label {
  color: #fff;
  font-weight: 600;
  font-size: 34px;
}

.subtitle {
  color: #D9D9D9;
  font-weight: 400;
  font-size: 24px;
  width: 300px;
  padding-bottom: 40px;
}

.custom-label {
  margin: 0;
  font-size: 14px;
}


.form-control {
  height: 100px;
}

::placeholder {
  font-size: 14px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons span {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.buttons .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.btn i {
  font-size: 24px;
}

.icon-container {
  background-color: red;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.fa-solid {
  color: white;
  font-size: 20px;
}

.modal-content {
  border-radius: 18px;
}

.custom-input {
  width: 400px;
  padding: 10px;
  height: 50px;
}

.button button {
  height: 50px;
  padding: 10px 20px;
  width: 180px;
  margin-top: 20px;
  margin-right: 10px;
}

.custom-success {
  background-color: #16D455;
}

.custom-secondary {
  background-color: #737373;
}


.modal-title {
  text-align: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 500;
}

.text {
  font-size: 12px;
  font-weight: 400;
  color: #989898;
  margin-bottom: 10px;
}

.form-check {
  width: 350px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  transition: box-shadow 0.3s;
  padding: 10px 20px;
}

.form-check:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.modal-content {
  border-radius: 18px;
  width: 400px;
}

.modal .custom-input {
  height: 100px;
}

.modal .check-label {
  margin-left: 10px;
  font-size: 18px;
}

.modal .form-check {
  padding: 10px 15px;
}

.check-input {
  transform: scale(1.5);
  margin-right: 8px;
}

.custom-lanjut {
  background-color: #0B1A5C;
  color: #fff;
  margin-right: 10px;
  width: 150px;
  border-radius: 8px;
}

.custom-back {
  background-color: #fff;
  color: #000;
  width: 150px;
  border-radius: 8px;
  border: #000 solid 1px;
}

/* Error Modal */
.dialong-custom {
  max-width: 900px;
  width: 100%;
  position: fixed;
  bottom: 50px;
  left: 18%;
  transform: translateX(-50%);
  margin: 0;
}

.content-error {
  border-radius: 18px;
  width: 100%;
  background-color: #fff;
}

.header-error {
  border-left: 14px solid #f00004;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: none;
  padding-left: 15px;
}

.modal-title-error {
  color: #000;
  font-weight: 400;
}

.icon-container-error {
  background-color: #f00004;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn-close {
  opacity: 1.5;
  font-size: 16px;
  position: absolute;
  right: 30px;
}

.btn-close:hover {
  opacity: 1;
}

/* End Error Modal */


/* Info Modal */

.dialong-custom {
  max-width: 900px;
  width: 100%;
  position: fixed;
  bottom: 50px;
  left: 18%;
  transform: translateX(-50%);
  margin: 0;
}

.info-content {
  border-radius: 18px;
  width: 100%;
  background-color: #fff;
}

.info-header {
  border-left: 14px solid #06bce5;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: none;
  padding-left: 15px;
}

.modal-info-title {
  color: #000;
  font-weight: 400;
}

.icon-container-info {
  background-color: #06bce5;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.btn-close {
  opacity: 1.5;
  font-size: 16px;
  position: absolute;
  right: 30px;
}

.btn-close:hover {
  opacity: 1;
}

/* End Info Modal */

/* Modal Loading */

.custom-text {
  width: 200px;
  margin-bottom: 30px;
}

.custom-dialog {
  border-radius: 12px;
  padding: 20px;
  max-width: 350px;
}

.custom-content {
  position: fixed;
  top: 35%;
  left: 38%;
  transform: translate(-50%, -50%);
  margin: 0;
}


.spinner-border {
  height: 70px;
  width: 70px;
  border: 8px solid #88AAFF;
  border-top-color: #0B1A5C;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  animation: spin 1.5s infinite linear;
  margin-top: 30px;
  margin-bottom: 10px;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  /* Memulai dari 0 derajat */
  100% {
    transform: rotate(360deg);
  }

  /* Berputar hingga 360 derajat */
}

/* End Modal Loading */