body {
  font-family: 'Poppins', sans-serif;
  background-color: #0B88EF;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  border-bottom: #fff solid 1px;
}

.date {
  font-size: 1.2rem;
  color: #DEDEDE;
  opacity: 55%;
}

.name {
  font-size: 1.2rem;
  color: #000;
}

.icons-arrow {
  margin-left: 66px;
  margin-top: 20px;
}

.icons-money {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.btn button {
  height: 50px;
  padding: 10px 20px;
  width: 180px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: #0B1A5C;
  border-radius: 12px;
  border: none;
}