body {
  font-family: 'Poppins', sans-serif;
  background-color: #0B88EF;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 8rem;
  border-bottom: #fff solid 1px;
}

.date {
  color: #DEDEDE;
  font-size: 1.2rem;
  opacity: 55%;
}

.name {
  font-size: 1.2rem;
  color: #000;
}

.content {
  padding: 20px 128px;
  margin-top: 150px;
}

.text-label {
  color: #fff;
  font-weight: 600;
  font-size: 34px;
}

.subtitle {
  color: #DEDEDE;
  font-weight: 400;
  font-size: 24px;
}

.form-control {
  height: 50px;
}

.button-wrapper {
  position: absolute;
  right: 128px;
  bottom: 35%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.buttons span {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.buttons .btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  transition: background-color 0.3s ease;
}

.btn i {
  font-size: 24px;
}

.icon-container {
  background-color: red;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}


.modal-header {
  border-left: 10px solid red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: none;
  padding-left: 15px;
}

.fa-solid {
  color: white;
  font-size: 20px;
}

.modal-content {
  border-radius: 18px;
}

.modal-dialog {
  max-width: 900px;
  width: 100%;
  position: fixed;
  bottom: 50px;
  left: 18%;
  transform: translateX(-50%);
  margin: 0;
}

.custom-input {
  width: 300px;
  padding: 10px;
  height: 50px;
  font-size: 24px;
}

.fw-bolder {
  font-size: 1.25rem;
}

.btn-close {
  opacity: 1.5;
  font-size: 16px;
  position: absolute;
  right: 30px;
}

.custom-loading-modal {
  border-radius: 12px;
  padding: 20px;
}

.custom-dialog {
  max-width: 300px;
  width: 100%;
  position: fixed;
  top: 35%;
  left: 38%;
  transform: translate(-50%, -50%);
  margin: 0;
}


.spinner-border {
  height: 70px;
  width: 70px;
  border: 8px solid #88AAFF;
  border-top-color: #0B1A5C;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  animation: spin 1.5s infinite linear;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  /* Memulai dari 0 derajat */
  100% {
    transform: rotate(360deg);
  }

  /* Berputar hingga 360 derajat */
}