body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif; /* Use Poppins font */
  background-color: #2196f3;
}
     
     .thank-you-page {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       height: 100vh;
       color: white;
       font-family: Arial, sans-serif;
       text-align: center;
     }
     
     /* Header bar */
     .header-bar {
       width: 100%;
       border-bottom: 1px solid #fff;
       display: flex;
       justify-content: space-between;
       position: absolute;
       top: 0;
       padding: 16px 128px 16px;
     }
     
     .bank-name {
       font-size: 1.2rem;
       color: #000000;
     }
     
     .date {
       font-size: 1.2rem;
       color: #DEDEDE;
       opacity: 55%;
     }
     
     /* Konten Terima Kasih */
     .thank-you-content {
       width: 600px;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: auto;
       margin-bottom: auto;
       /* Supaya posisinya lebih ke tengah */
     }
     
     .icon {
       width: 90px;
       height: 90px;
       margin-bottom: 25px;
     }
     
     h1 {
       font-size: 1.5rem;
       font-weight: bold;
       margin-bottom: 10px;
     }
     
     p {
       font-size: 1.1rem;
       margin-top: 0;
       color: #D5D5D5;
     
     }